// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$dim-gray: #69696A;
$light-gray: #F4F4F4;
$coral: #FF5B5B;
$light-coral: #F6BBB6;
$soft-yellow: #FFD692;
$navy: #263863;
$box-shadow: #EFF0F1;
$light-yellow: #F8F0E4;
$off-white: #FBF4F0;
