// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #5768FF;
$yellow: #F5F51B;
$orange: #EEBE4F;
$green: #4FEE54;
$gray: #000000;
$dim-gray: #69696A;
$light-gray: #F4F4F4;
$coral: #FF5B5B;
$light-coral: #F6BBB6;
$soft-yellow: #FFD692;
$navy: #263863;
$box-shadow: #EFF0F1;
$light-yellow: #F8F0E4;
$off-white: #FBF4F0;
