<div class="recommended-stay-container text-center">
  <h3>Our recommended stay</h3>
  <div class="flex-recommendations">
    <input type="submit" value="Change" class="btn-primary other-options">
    <div class="stay-card">
      <p>stay info here...</p>
    </div>
  </div>
</div>
<br>
