<div class="recommended-stay-container text-center">
  <div class="flex-recommendations">

     <%= render "shared/accomodation_modal" %>

  <div class="stay-wrapper">
    <div class="stay-clear"></div>
      <div class="stay-item">
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/08/34/c0/41/v-one-vogue-hotel.jpg" alt="Accomodation"/>
        <h3>Taipei Sofitel</h3>
        <h4>★★</h4>
        <p><em>$30</em> per day</p>
           <!-- Button trigger modal -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalLong"><i class="fas fa-exchange-alt"></i></button>
  </div>
</div>
<br>
