<div class="recommended-stay-container text-center">
  <h3>Our recommended stay</h3>
  <div class="flex-recommendations">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalLong">
      Change
    </button>

    <%= render "shared/accomodation_modal" %>

    <div class="stay-card">
      <p>stay info here...</p>
    </div>

  </div>
</div>
<br>
