<div class="banner-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1">
          <h2>Destination Matcher</h2>
          <p>Let us find your holiday destination</p>
          <%= render "shared/search_form" %>
      </div>
    </div>
  </div>
</div>
