<div class="recommended-flight-container text-center">
  <h3>Our recommended flight</h3>
  <div class="flex-recommendations">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalLong">
      Change
    </button>

    <%= render "shared/flight_modal" %>

  <div class="flight-card">
    <p>flight info here...</p>
  </div>

  </div>
</div>
