<div class="recommended-flight-container text-center">
  <h3>Our recommended flight</h3>
  <div class="flex-recommendations">
    <input type="submit" value="Change" class="btn-primary other-options">
   <div class="flight-card">
    <p>flight info here...</p>
  </div>
  </div>
</div>
