<body>
  <div class="header">
    <ul class="signin login">
      <li>
        signin
      </li>
      <li>
        login
      </li>
    </ul>
    <h1>Destination Matcher</h1>
  </div>

  <%= render "layouts/navbar" %>
  <%= yield %>

</body>
