<center>
  <div class="modal fade" id="visas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="moda-content">
        <div class="modal-body">
          <h3>Let's see if you need a visa for <%= @city.name %>...</h3>
        </div>
        <div class="modal-body">
          <div class ="form-group">
            <%= form_tag controller: "visas", action: "show", remote: true, method: :get do %>
              <%= select_tag "country",
              options_from_collection_for_select(Country.all.order(:name), :id, :name),
              input_html: {class: "form-small", required: true},
              prompt: "Where is your passport from?" %>
              <%= submit_tag "Search" %>
            <% end %>
            <br>
            <div id="result">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</center>


