
// Cities Index Page Cards

.wrapper {
  padding: 100px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: $light-yellow;
}

// .card:before{
//   background-image: rgba(1,1,1,1);
// }
.card {
  width: 370px;
  height: 300px;
  border-radius: 4px;
  padding: 1.5rem;
  margin: 20px 0;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.2s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.card .title {
  position: absolute;
  top: 5px;
  text-align: center;
  color: white;
  opacity: 1;
  margin: 0px;
  z-index: 20;
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
  text-decoration: none !important;
  text-shadow: 1px 1px #5B5B5B;
}
.card:hover {
  text-decoration: none !important;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
.card:hover:before {
  opacity: 0.8;
}
.card:hover .info {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}
.card-overlay {
  background-color: black;
  opacity:0.17;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}
.card .info {
  width: 290px;
  text-shadow: 1px 1px $gray;
  position: absolute;
  z-index: 3;
  color: white;
  background-color: rgba(1,1,1,0.3);
}
// .card .info h1 {
//   margin: 0px;
// }
.card .info h5 {
  font-family: 'Proxima', Arial, Helvetica, sans-serif;
  text-decoration: none !important;
  font-size: 22px;
}
.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none !important;
}


// City Show Page
.info-card{
  width: 100%;
  height: 500px;
  padding: 40px;
  background: white;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
}
.header {
  height: 320px;
  background-image: url("https://images.pexels.com/photos/163194/old-retro-antique-vintage-163194.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  color: white;
  padding-top: 80px;
}
.price-container {
  padding: 15px;
  height: 100px;
}
.info-card .total {
  height: 106px;
  border-left: 2px dotted $coral;
}

.flight-card {
  width: 100%;
  height: 200px;
  padding: 1.5rem;
  margin-top: 30px;
  background: white;
  // position: relative;
  // display: flex;
  // align-items: flex-end;
  // transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
}

.flight-total {
  height: 100%;
  border-left: 3px dotted $dim-gray;
}
.card-flight-content {
  padding-top: 15px;
}
// .flight-card button {
//   margin: 5px;
// }


// Accomodation Cards
.stay-wrapper {
    padding: 20px;
h3 {
    display: inline-block;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 4px 20px;
    float: left;
  }
}
.stay-clear {
    clear: both;
}
.stay-item {
    width: 350px;
    height: 391px;
    background-color: #fff;
    float: left;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    img {
      width: 100%;
      height: auto;
    }
  }

.card {
  h3:hover{
    text-decoration: none;
  }

  p:hover{
    text-decoration: none;
  }
}

a:hover, a:focus {
  text-decoration: none !important;
}

.yellow{
  color: $yellow;
}

.orange{
  color: $orange;
}

.green{
  color: $green;
}

.red{
  color: $red;
}

// Country at a Glance General Info
.card-country-general-info {
  width: 350px;
  padding: 1.5rem;
  margin: 0 20px;
  background: $coral;
  color: white;
  position: relative;
  display: flex;
  align-items: flex-center;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
}

// Card Icons
.card-icons {
  text-align: center;
}
.card-icons p {
  font-size: 25px;
}
