
// Cities Index Page Cards

@mixin BoxShadowHelper($level: 1){
  @if $level == 1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  }
  @if $level == 2 {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  }
}
a {transition: .25s all;}
.animated {
  overflow: hidden;
  background-color: white;
  margin-bottom: 20px;
  @include BoxShadowHelper(1);
  transition: .25s box-shadow;
  &:focus,
  &:hover {@include BoxShadowHelper(2);}
}
.card-inverse .card-img-overlay {
  background-color: rgba(#333,.85);
  border-color: rgba(#333,.85);
}

.card-block {
  padding: 1rem;
  height: 14vh;
  margin-bottom: -16px;
}

.card-img-top {
  width: 100%;
  height: 27vh;
  object-fit: cover;
}

.card-block .card-title {
  color: #383B3D;
  font-size: 25px;
  margin-top: 0px;
}

.card-link {
  &:hover {
    text-decoration: none;
  }
}

.card-block .text-total {
  font-size: 17.5px;
  color: #6A7177;
}
.animated:hover {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

// City Show Page
.info-card{
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
}
.header {
  width: 100%;
  height: 90px;
  background-color: $coral;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 28px;
    padding-bottom: 20px;
  }
}
.price-container {
  height: 100%;
  p {
    font-size: 22px;
    color: $dim-gray;
    padding: 16px 0;
    margin: 0;
  }
}
.price-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
@media (min-width: 600px) {
  .price-container .meal {
  border-right: 1px dotted $dim-gray;
  }
  .price-container .accom {
    border-right: 1px dotted $dim-gray;
  }
}

// Flight Card

.card-flight-content {
  padding: 1.5rem;
  margin-top: 10px;
  background: white;
  width: 100%;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
}
.flight-info{
  display: flex;
  justify-content: space-around;
  flex: 1 0 auto;
  padding: 0 10px;
  .flight-logo {
    flex: 0 0 30%;
  }
}

.flight-total {
  height: 100%;
  h3 {
    text-align: center;
  }
}
.flight-buttons{
  padding: 0 10px;
}

@media (min-width: 600px) {
  .flight-total {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-left: 3px dotted $dim-gray;
  }
}

  .flight-price {
     grid-column: span 2;
     grid-row: span 2;
  }

  .flight-buttons {
    grid-column: span 2;
  }
}


// Not sure which features these belong to? (- Amanda)
.card {
  h3:hover{
    text-decoration: none;
  }

  p:hover{
    text-decoration: none;
  }
}

a:hover, a:focus {
  text-decoration: none !important;
}

.yellow{
  color: $yellow;
}

.orange{
  color: $orange;
}

.green{
  color: $green;
}

.red{
  color: $red;
}


// Country at a Glance General Info
.card-country-general-info {
  height: 378px;
  padding: 1.5rem;
  margin-top: 10px;
  background-color: white;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
}

// General Info Card Icons
.card-icons {
  text-align: left;
}
.card-country-general-info h3{
  font-size: 24px;
  color: $coral;
  margin-bottom: 25px;
}
.card-country-general-info h4 {
  font-size: 17px;
  margin-left: 19px;
}
.card-icons p {
  font-size: 25px;
  color: $light-gray;
}


@media (min-width: 600px) {
  .card-country-general-info {
    width: 108%;
    margin-left: -8%;
  }
}
.tooltip-inner {
    max-width: 100% !important;
}

.tooltip {
  width: 120%;
}

