/* Main navbar */
.navbar-dm {
  text-decoration: none !important;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #131920;
  transition: all 0.3s ease;
  height: 65px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: relative;
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
  .slogan {
    color:#fff;
    font-size:11px;padding-top:3px;
    text-transform: uppercase;
    padding-right: 15px;}
}

/* Logo */
.navbar-dm-logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
  img {
  height: 30px;
  display: absolute;
  color: white;
  }
  /* Title text */
  .site-title {
    color: white;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-left: 3px;
    font-weight: 10px;
    margin-bottom: -4px;
  }
}

.navbar-dm-logo:hover {
  text-decoration: none;
 }

/* Right section */
.navbar-dm-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-dm-item {
  cursor: pointer;
  padding: 0 20px;
  letter-spacing: 0.07em;
}

/* Navbar link */
.navbar-dm-link {
  font-weight: bold;
  color: #999;
  letter-spacing: 0.07em;
  font-size: 14px;
}

.navbar-dm-link .sign-in-text:hover {
  color: #111111;
}

/* Join Free button */
.sign-in-button {
  margin-right: 10px;
  letter-spacing: 0.02em;
  font-weight: 100;
}

.join-free {
  background-color: #3cb46e;
  color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 5px 11px;
  text-decoration: none;
}
.join-free:hover {
  color: white !important;
  background-color: #37A464;
}

.sign-in-text:hover {
  color: #7E7E7E !important;
}

.navbar-dm-link:hover {
  color: #999;
  text-decoration: none;
}

// Drop Down heart icon //

.menu-dropdown-ico {
  display: flex;
  // flex-direction: column;
  align-items: baseline;
}

.menu-dropdown-ico .fa-heart {
  font-size: 30px;
  margin-bottom: 10px;
  color: #3cb46e;
}

.menu-dropdown-ico .fa-heart:hover {
  color: #2C8351;
  }

/* Dropdown menu */
.menu-dropdown-icon {
  display: flex;
  align-items: center;
}

.navbar-dm-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  border-radius: 1px;
}

.navbar-dm-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 17px !important;
  padding: 7px 10px;
}

.navbar-dm-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}

.navbar-dm-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 7px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
