@keyframes click-wave {
  0% {
    height: 30px;
    width: 30px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.flight_choice {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 45px;
  right: 0;
  bottom: 0;
  left: 8px;
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.flight_choice:hover {
  background: #9faab7;
}
.flight_choice:checked {
  background: $coral;
}
.flight_choice:checked:focus {
  outline: none;
}
.flight_choice:checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 30px;
}
.flight_choice:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: $coral;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.flight_choice.radio {
  border-radius: 50%;
}
.flight_choice.radio::after {
  border-radius: 50%;
}

// body {
//   display: -webkit-box;
//   display: -moz-box;
//   display: -ms-flexbox;
//   display: box;
//   background: #e8ebee;
//   color: #9faab7;
//   font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
//   text-align: center;
// }
// body div {
//   padding: 5rem;
// }
// body label {
//   display: block;
//   line-height: 30px;
// }
