.search-box {
  margin-top: 5px;
  display: flex;
  // height: 370px;
  width: 500px;
  padding: 25px 10px;
  background-color: #FBFBFB;
  border-radius: 4px !important;
  color: #2A262D;
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
  font-size: 15px;

}

.form-control {
  border-radius: 4px !important;
  // font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
}

.form-small {
  font-size: 15px !important;
  color: #7D7D7D;
  }

.submit-button {
  color: white;
  padding: 10px 50px;
  border-radius: 5px;
}
