
.city-cover-photo {
  background-position: center center;
  width: 100%;
  height: calc(70vh - 50px);
  background-size: cover !important;
  box-shadow: 1px 1px 3px #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  color: white;
  text-shadow: 1px 1px 2px #333333;
  text-align: center;
  h2 {
    font-size: 60px;
    h3 {
      font-size: 30px;
    }
  }
}
.results {
  background-color: $light-yellow;
  position: relative;
  padding-top: 50px;
  top: 500px;
  height: 900px;
}
